button {
    border: 0;
    /* background: linear-gradient(
        to bottom,
        #444,
        #111
    ); */
    border-radius: 10px;
    padding: 10px 30px 12px;
    outline: 0;
    display: inline-block;
    /* width: 200px; */
    text-align: left;
}
button:hover, button:active {
    /* background: black; */
}
button svg {
    width: 800px;
    height: 800px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
button span {
    font-size: 22px;
    position: relative;
    top: 4px;
    color: red;
}


body {
    padding: 20px;
    text-align: center;
}